body{
    background-color: rgb(0, 179, 155);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.card{
    border: 2px solid;
    border-radius: 20px;
    padding: 25px;
    background-color: antiquewhite;
    box-shadow: 0 4px 8px rgba(0, 255, 242, 0.959);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

button{
    padding: 10px;
    width: 120px;
    border: none;
    background: #00e1ff;
    border-radius: 12px;
    text-shadow: 0 1px 2px #def1f3;
    font-weight: bold;
}

button:hover{
    background: #00a1b6;
    transition: all 0.3s ease;
    cursor: pointer;
}
